/* Basic Styling background-image: url('./Introduction MEDIA/360_F_60040805_v44hUlIYziuW0jHXhyFASqI71ONkxGJi.jpg');*/

* {
  box-sizing: border-box;
  border: 0px solid black;
  font-family: Arial, Verdana, sans-serif;
  z-index: 5;
}

body {
  background-color: rgb(231, 202, 132);
  margin: 0;
}

h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif; 
  color: black;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
h1 {font-size: 40px; text-align: center; margin: 10px; color: rgb(82, 41, 25);}
h2 {font-size: 30px; text-align: left;}
h3 {font-size: 30px; text-align: center;}

p, ul, ol, span {
  font-size: 22px;
  color: black;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
span {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  height: 350px;
  margin: 0px 30px;
}

iframe {
  border: 4px solid red;
  height: 450px;
  margin: 10px 30px;
}

a {
  font-size: 20px;
}



.equation {
  background-color: lightgreen;
  border: 5px solid forestgreen;
  font-size: 40px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
#lenzlaw {
  padding: 20px;
}



div.solution {
  background-color: lightblue;
  border: 5px solid turquoise;
  border-radius: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
div.spoiler {
  background-color: lavenderblush;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
div.spoiler p {
 color: lavenderblush;
 width: 100%;
}
div.spoiler:hover, div.spoiler:hover p {
  background-color: lightblue;
  color: black;
}



a.nav-buttons {  
  color: rgb(133, 66, 40);
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-transform: none;

  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1em;
  text-align: center;

  background-color: transparent;
  padding: 1px 4px;
  border: 8px ridge rgb(175, 89, 55);
  border-radius: 0px;
  margin: 0px 0px 10px;

  display: inline-block;
}
a.nav-buttons:hover, a.move-buttons:hover{
  color: rgb(231, 202, 132);
  background-color: rgb(147, 74, 45);
}



.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

nav.fixed {
  position: fixed;
  top: 0px;
  background-color: hsl(42, 58.8%, 62.0%);
  width: 100%;
  z-index: 10;
  border-bottom: 6px inset rgb(186, 94, 58);
}

/* Table Styling */

table {
  color: black;
  border-collapse: collapse;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

thead {
  font-size: 22px;
  text-align: center;
}

tbody {
  font-size: 22px;
  text-align: left;
}

td, th {
  border: 2px solid black;
  padding: 5px 5px;
}